<div class="container app-full-height"> 
  <div class="row app-85-height align-items-center">
      <form (ngSubmit)="onSubmit()" class="profile-form">
      <div class="col-12 margin-top-50">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6">
              <img class="img-fluid" src="../../../../assets/icons/icon-192x192.png" />
            </div>
          </div>

          <div class="row justify-content-center margin-top-10">
            <div class="col-10">
              <h5 class="app-full-width-center">Profilo</h5>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="app-full-width">
                    <input matInput placeholder="Username" (ngBlur)="validatePwd" [(ngModel)]="myprofile.username" name="username" disabled="true" [disabled]="disabledField">
                  </mat-form-field>
              <mat-form-field class="app-full-width">
                <input matInput placeholder="E-Mail"  [(ngModel)]="myprofile.email" name="email" [disabled]="disabledField">
              </mat-form-field>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6" *ngIf="disabledField == 'true'">
              <button type="submit" class="app-long-button-center" mat-raised-button color="primary">
                Modifica
              </button>
            </div>
            <div class="col-6" *ngIf="disabledField == 'false'">
                <button type="submit" class="app-long-button-center" mat-raised-button color="primary">
                  Salva
                </button>
              </div>
          </div>
        </div>
      </div>
      </form>
  </div>
</div>