<div class="container app-full-height">
  <div class="row align-items-center">
    <form class="profile-form">
      <div class="col-12">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-8 text-align-center">
              <img class="img-fluid rounded-circle" *ngIf="!userProfile || !userProfile.immagine" src="../../../public/assets/icons/profile-icon-9.png" /><!-- *ngIf="!userProfile || !userProfile.profilo || !userProfile.immagine"-->
              <!--<div>
                  <mat-icon class="edit_icon">edit</mat-icon>
              </div>-->
              <img class="img-fluid rounded-circle" *ngIf="userProfile.immagine" src={{userProfile.immagine}} />
            </div>
          </div>

          <div class="row justify-content-center margin-top-10">
            <div class="col-12">
              <h5 class="app-full-width-center"><b>Il tuo profilo</b></h5>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10">
              <button mat-raised-button color="accent" class="app-long-button-center" [disabled]="!somethingChanged" (click)="salvaModifiche()">
                Salva
                <!-- <mat-icon class="edit_icon">done</mat-icon> -->
              </button>
            </div>
          </div>

          <h6 class="margin-top-20"><b>Informazioni personali</b></h6>

          <div class="row justify-content-center margin-top-10">
            <div class="col-12">
              <mat-form-field class="app-full-width">
                <input matInput placeholder="Nickname" type="text" [(ngModel)]="userProfile.nickname" name="username" (change)="somethingChanged=true;">
              </mat-form-field>
              <mat-form-field class="app-full-width">
                <input matInput placeholder="Nome" [(ngModel)]="userProfile.nome" name="nome" (change)="somethingChanged=true;">
              </mat-form-field>
              <mat-form-field class="app-full-width">
                <input matInput placeholder="Cognome" [(ngModel)]="userProfile.cognome" name="cognome" (change)="somethingChanged=true;">
              </mat-form-field>
              <mat-form-field class="app-full-width">
                <input matInput placeholder="E-Mail" type="email" [(ngModel)]="userProfile.email" name="email" (change)="somethingChanged=true;">
              </mat-form-field>
            </div>
          </div>

          <h6><b>I tuoi gruppi</b></h6>

          <div class="row justify-content-left margin-top-10">
            <mat-list class="app-full-width">
              <mat-list-item *ngFor="let gruppo of userProfile.groups" [routerLink]="['/app', { outlets: { sub: ['groupdetail', gruppo.id] }}]">
                <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="!gruppo || !gruppo.immagine"
                  src="../../../public/assets/icons/group-icon.png" />
                <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="gruppo.immagine" src={{gruppo.immagine}} />
                <h3 matLine><b>{{gruppo.nome}}</b></h3>
                <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>