<div class="container col-12 margin-top-10">
  <div class="row">
    <div class="col-12 dashboard-title">
      <h1>
        <b>PAUSAPPRANZO</b>
      </h1>
      <h3>
        <b>Dashboard</b>
      </h3>
    </div>
  </div>
</div>

<div class="container col-12 margin-top-10">
  <div class="row col-12">
    <mat-form-field class="col-3">
      <input matInput [matDatepicker]="picker" [(ngModel)]="dataSelezionata" placeholder="Scegli una data" ngDefaultControl>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-3">
      <mat-select placeholder="Scegli un gruppo" [(ngModel)]="gruppoSelezionato" ngDefaultControl>
        <mat-option *ngFor="let group of groupList" [value]="group.id">
          {{group.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-6 margin-top-10">
      <button type="submit" class="col-4" app-long-button-center mat-raised-button color="primary" (click)="openGroup()">
        Cerca
      </button>
    </div>
  </div>
</div>

<div class="container col-12 margin-top-20">
  <div class="row col-12">
    <div class="container col-4"> 
      <mat-list-item *ngFor="let user of userList">
        <div class="row no-gutters align-items-center margin-top-20 margin-bottom-20">
          <div class="col-3">
            <h5 matLine>
              <b [style.color]="user.colore">{{user.nome}}</b>
            </h5>
          </div>
          <div class="col-9 text-align-left">
            <span *ngFor="let food of user.foods ; last as isLast"><b>{{food.descrizione}}<span *ngIf="!isLast">,</span> &nbsp;</b></span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

    </div>
    <div class="container col-8">
      <canvas width="960" height="400"></canvas>
    </div>
  </div>
</div>