<div class="container app-full-height">
  <div class="row app-85-height align-items-center">
    <form (ngSubmit)="login()" class="login-form">
      <div class="col-12">
        <div class="container">

          <div class="row justify-content-center">
            <div class="col-10">
              <h5 class="app-full-width-center login-title"><b>PAUSAPPRANZO</b></h5>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-6">
              <img class="img-fluid" src="../../../public/assets/icons/logo.png" />
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="app-full-width">
                <input matInput placeholder="User ID" name="User ID" [formControl]="email">
                <mat-error *ngIf="email.invalid">User ID non valida</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row justify-content-center stayLogged-checkbox">
            <div class="col-10">
              <mat-checkbox class="" name="stayLogged" [(ngModel)]="stayLogged">Rimani loggato</mat-checkbox>
            </div>
          </div>

          <!-- div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="app-full-width">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="pwd" name="pwd">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="pwd.invalid">Password non valida</mat-error>
              </mat-form-field>
            </div>
          </div -->

          <div class="row justify-content-center margin-top-10">
            <div class="col-6">
              <button type="submit" class="app-long-button-center" mat-raised-button color="primary">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>