
<div class="container app-full-height">
  <div class="row app-85-height align-items-center">
    <div class="col-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <img class="img-fluid" src="../../../../assets/icons/icon-512x512.png" />
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <h5 class="app-full-width-center">Pausappranzo</h5>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <form class="login-form">
              <mat-form-field class="app-full-width">
                <input matInput placeholder="E-Mail" value="">
              </mat-form-field>
              <mat-form-field class="app-full-width">
                <input matInput placeholder="Password" value="">
              </mat-form-field>
            </form>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-6">
            <button routerLink="/app" class="app-long-button-center" mat-raised-button color="primary">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>