<div class="row chat-message-box-outer" [ngClass]="{'justify-content-end': isSelfMessage}">
  <div class="col-9 chat-message-box" [ngClass]="{'chat-message-box-self': isSelfMessage}">
    <div class="row align-items-center">
      <!-- <div *ngIf="!(isSelfMessage)" class="col-2 chat-image">
        <img class="img-fluid rounded-circle profile-icon" *ngIf="!message.autore || !message.user.profilo || !message.user.immagine"
          src="/public/assets/icons/profile-icon-9.png" />
        <img class="img-fluid rounded-circle" *ngIf="message.user.immagine" src={{message.user.immagine}} />
      </div> -->
      <div class="col-12">
        <div class="chat-message" [ngClass]="{'float-right text-align-right': isSelfMessage}">
          <b [style.color]="message.user.colore">{{message.user.nome}}</b>
          <br>
          <span class="chat-data">{{message.data | dataPrint}}</span>
          <br>
          <span>{{message.text}}</span>
        </div>
      </div>
      <!-- <div *ngIf="isSelfMessage" class="col-2 chat-image">
        <img class="img-fluid rounded-circle profile-icon" *ngIf="!message.autore || !message.user.profilo || !message.user.immagine"
          src="/public/assets/icons/profile-icon-9.png" />
        <img class="img-fluid rounded-circle" *ngIf="message.user.immagine" src={{message.user.immagine}} />
      </div> -->
    </div>
  </div>
</div>