.chat-message-box-outer {
    padding: 5px;
}

.chat-message-box {
    background-color: lightgreen;
    border-radius: 10px;  
}

.chat-message-box-self {
    background-color: lightskyblue;
}

.chat-image {
    padding: 0 10px 0 10px;
}

.chat-message {
    line-height: 1.2;
    padding: 5px 0 5px 0;
}