<div class="row">
  <div class="content col-12">
    <h4>
      <b>{{pollOfTheDay.nomeGruppo}}</b>
    </h4>
    <hr>
    <p>Sondaggio del {{pollOfTheDay.data}}</p>
  </div>
</div>

<a *ngFor="let item of pollOfTheDay.location; let i = index">
  <div class="row">
    <div class="content col-6">
      <p class="primary">{{item.nome}}
      <mat-progress-bar value="{{item.percentVoti}}" type="success"></mat-progress-bar>
    </p>
    </div>
    <div class="content col-5 margin-top-20">
      <p class="primary"> {{item.voti}} voti</p>
    </div>
  </div>
</a>


  <button mat-raised-button color="primary" class="app-long-button-left" (click)="openDialog()">+ Aggiungi Ristorante</button> 
  <!-- <input matInput placeholder="Cibi Preferiti" [(ngModel)]="locali">  -->

