<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="title">
                    Admin
                </h4>
                <ul class="breadcrumb-list">
                    <li>
                        <a [routerLink]="['/home']">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-chevron-right"></i> </span>
                    </li>
                    <li>
                        Admin
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->


<!-- Login Area Start -->
<section *ngIf="!isLogged" class="contact">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <div class="contact-form-wrapper">
                    <div class="contact-box">
                        <h4 class="title">
                            Login
                        </h4>
                        <form (ngSubmit)="login()">

                                <div class="row justify-content-center">
                                  <div class="col-10">
                                    <mat-form-field>
                                      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="pwd" name="pwd">
                                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                      <!-- <mat-error *ngIf="pwd.invalid">Invalid Password</mat-error> -->
                                    </mat-form-field>
                                  </div>
                                </div> 
                      
                                <div style="display: inline-block;width: 100%;">
                                        <div style="float: left;">
                                            <img *ngIf="loading" src="/public/assets/img/loader.gif" style="width: 70px;" />
                                            <span style="color:red" *ngIf="(errorMessage!='')">{{this.errorMessage}}</span>
                                        </div>
                                        <div style="float: right;padding-top: 3em;">
                                            <button type="submit" class="mybtn1">
                                            Login
                                            </button>      
                                        </div>
                                </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Error IE Modal Start -->
<div class="modal fade login-modal sign-in" id="ieModal" tabindex="-1" role="dialog" aria-labelledby="ieModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="header-area">
                    <h4 class="title">Internet Explorer e EDGE non sono supportati, accedi tramite un altro browser</h4>
                </div>
                <div class="form-area text-center">
                    <button class="mybtn2 w-100" data-dismiss="modal" aria-label="ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error IE Modal End -->
<!-- Login Area End -->

<!-- preloader area start -->
<div class="preloader" id="preloader" *ngIf="loading">
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
</div>
<!-- preloader area end -->

<!-- Edit Award Start -->
<section *ngIf="isLogged" class="contact">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <div class="contact-form-wrapper">
                    <div class="contact-box">
                        <h4 class="title" *ngIf="!idPremio">
                            Inserimento di un premio
                        </h4>
                        <h4 class="title" *ngIf="idPremio">
                            Aggiornamento di un premio
                        </h4>
                        <form action="#">
                            <span class="field-error" *ngIf="!isNomeValido">Campo obbligatorio</span>
                            <input type="text" class="input-field" placeholder="Nome del prodotto *" [(ngModel)]="nome" name="nome" (change)="changeName(this)" maxlength="30">

                            <span class="field-error" *ngIf="!isPosizioneValida">Campo obbligatorio</span>
                            <!--input type="number" class="input-field" placeholder="Posizione in classifica *" [(ngModel)]="posizione" name="posizione" (change)="changePosizione(this)" min="1" max="90"-->
                            <select [(ngModel)]="posizione" name="posizione" class="input-field">
                                <option value="0" selected data-default>Posizione in classifica *</option>
                                <option *ngFor="let pos of posizioniList" [value]="pos">{{pos}}</option>
                            </select>
                            
                            <textarea class="input-field textarea" placeholder="Descrizione" [(ngModel)]="descrizione" name="descrizione"></textarea>

                            <span class="field-error" *ngIf="!isImmagineValida">Campo obbligatorio</span>
                            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput
                                accept="image/png, image/jpeg">

                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center" *ngIf="!imagePreview">
                                        <button (click)="fileInput.click()" class="mybtn2">Sfoglia immagine*</button>
                                    </div>
                                    <div class="col-lg-6 text-center" *ngIf="imagePreview">
                                        <button (click)="fileInput.click()" class="mybtn2">Cambia immagine*</button>
                                    </div>
                                    <div class="col-lg-6 text-center" *ngIf="imagePreview">
                                        <img [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-lg-12 text-center" *ngIf="loadingForm">
                                        <div  class="loader loader-1">
                                            <div class="loader-outter"></div>
                                            <div class="loader-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 text-center" *ngIf="!loadingForm">
                                        <button (click)="onUpload(this)" class="mybtn1" *ngIf="!idPremio">Inserisci</button>
                                        <button (click)="onUpload(this)" class="mybtn1" *ngIf="idPremio">Aggiorna</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center mt-5">
                <a [routerLink]="['/catalogo']">
                    <div class="mybtn1">
                        Vai al catalogo dei premi
                    </div>
                </a>
            </div>
            <div class="col-lg-4 text-center mt-5">
                <a [routerLink]="['/adminpage/assegnapremio']">
                    <div class="mybtn1">
                        Assegnazione premi
                    </div>
                </a>
            </div>
            <div class="col-lg-4 text-center mt-5">
                <a [routerLink]="['/adminpage/risultativendite']">
                    <div class="mybtn1">
                        Inserimento Risultati
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Confirm Modal Start -->
<div class="modal fade login-modal sign-in" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="reset()"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="header-area">
                    <h4 class="title" *ngIf="!idPremio">Premio inserito correttamente</h4>
                    <h4 class="title" *ngIf="idPremio">Premio aggiornato correttamente</h4>
                </div>
                <div class="form-area text-center">
                    <button class="mybtn2 w-100" data-dismiss="modal" aria-label="ok" (click)="reset()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirm Modal End -->

<!-- Error Modal Start -->
<div class="modal fade login-modal sign-in" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="header-area">
                    <h4 class="title">Errore nell'assegnazione del premio</h4>
                </div>
                <div class="form-area text-center">
                    <button class="mybtn2 w-100" data-dismiss="modal" aria-label="ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error Modal End -->
<!-- Edit Award End -->