::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }
  ::ng-deep .mat-focused .mat-form-field {
    /*change color of text*/
    color: #a1aed4 !important;
   }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #a1aed4 !important;
   }

   ::ng-deep .mat-form-field-infix {
    /*change color of label*/
    color: #a1aed4 !important;
   }

   ::ng-deep .mat-error {
    /*change color of label*/
    color: #a1aed4 !important;
   }
  
  .field-error {
    font-size: 0.8em; 
    color: #ff344d;
  }
  
  .contact {
    padding: 50px 0px 150px;
  }
