.lb-caption span:nth-child(1) {
    font-size:1.5em;color: #f0ad4e;
}

.lb-caption span:last-child {
    font-size:1.2em;color: #ffffff;
}

.premio-assegnato {
    background: #cf0034;
    border-color: #cf0034;
}