<div class="row">
  <h4>Elenco Locali</h4>
</div>

<div class="row">
  Seleziona il locale da aggiungere:
</div>

<div class="row">
  <mat-radio-group formControlName="floatLabel">
    <div class="col-12 radio-button" *ngFor="let locale of data.elencoCompleto">
      <mat-radio-button [value]="locale.id">{{locale.nome}}</mat-radio-button>
    </div>
  </mat-radio-group>
</div>

<div class="row">
  <div class="col-6">
    <button mat-raised-button class="float-left" (click)="onAnnulla()">Annulla</button>
  </div>
  <div class="col-6">
    <button mat-raised-button class="float-right" color="accent">Aggiungi</button>
  </div>
</div>