<div class="container">
  <div class="row align-items-center">
    <div class="col-7">
      <h4 class="margin-top-10">
        <b>{{data.groupDetails.nome}}</b>
      </h4>
    </div>
    <!--  <div class="col-3">
      <button type="button" (click)="onNoClick()" class="close">&times;</button>
    </div>  -->
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <h6 class="margin-top-10">
        <b>{{data.groupDetails.users.length}}</b> Partecipanti
      </h6>
    </div>
  </div>
</div>

<div class="container" style="overflow-y: scroll;">

  <mat-list #partecipanti>

    <mat-list-item>
      <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="!loggedUser || !loggedUser.immagine" src="../../../public/assets/icons/profile-icon-9.png"
      />
      <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="loggedUser.immagine" src={{loggedUser.immagine}}
      />
      <h3 matLine>
        <b [style.color]="loggedUser.colore">Tu</b>
      </h3>
      <mat-divider></mat-divider>
    </mat-list-item>  

    <div *ngFor="let user of data.groupDetails.users">
      <mat-list-item *ngIf="user.id != loggedUser.id"> 
      <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="!user || !user.immagine" src="../../../public/assets/icons/profile-icon-9.png"
      />
      <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="user.immagine" src={{user.immagine}}
      />
      <h3 matLine>
        <b [style.color]="user.colore">{{user.nome}}</b>
      </h3>
      <button mat-icon-button (click)="remove(user.id)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-divider></mat-divider>
       </mat-list-item> 
      </div>
  </mat-list>

</div>