<div class="container">
  <div class="row align-items-center">
    <div class="col-7">
      <h4 class="margin-top-10">
        <b>Gruppo {{data.groupDetails.nome}}</b>
      </h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-12">
      <h6 class="margin-top-10">
        <b>{{data.groupDetails.users.length}}</b> Partecipanti
      </h6>
    </div>
  </div>
</div>

<div class="container" style="height: 300px; overflow-y: scroll;">

    <mat-list #partecipanti>
        <mat-list-item *ngFor="let user of data.groupDetails.users">
          <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="!user || !user.immagine" src="../../../public/assets/icons/profile-icon-9.png" />
          <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="user.immagine" src={{user.immagine}} />
          <h3 matLine><b [style.color]="user.colore">{{user.nome}}</b></h3>
          <button mat-icon-button (click)="remove(user.id)">
              <mat-icon>clear</mat-icon>
            </button> 
        <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

</div>