<div class="container" style="height: 485px; overflow-y: scroll;">
  <div class="col-12">
    <mat-selection-list>
      <mat-list-option *ngFor="let cibo of elencoCibi" [value]='cibo'>
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="../../../public/assets/img/{{cibo.nome}}.png" class="img-fluid" style="width: 50px">
          </div>
          <div class="col-9">
            {{cibo.descrizione}}
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<div *ngIf="!alreadyVoted" class="container fixed-bottom">
  <div class="row justify-content-around ">
    <div class="col-4 margin-bottom-10">
      <button mat-button (click)="cancelPreferences()" mat-raised-button color="primary" >
        Annulla
      </button>
    </div>
    <div class="col-4 margin-bottom-10">
      <button mat-button (click)="savePreferences()" mat-raised-button color="primary">
        Salva
      </button>
    </div>
  </div>
</div>
