<div class="container no-padding height-20">
  <div class="col-12 align-content-center text-align-center">
    <h6>
      <b *ngIf="!alreadyVoted">Cosa preferiresti mangiare oggi?</b>
      <b *ngIf="alreadyVoted">Ecco le tue scelte per oggi</b>
    </h6>
  </div>
</div>

<div class="container no-padding" [style.height.px]="boxHeight" style="overflow-y: scroll;">
  <div class="col-12">
    <mat-selection-list>
      <mat-list-option *ngFor="let cibo of elencoCibi" [value]='cibo' [disabled]="alreadyVoted" [selected]="isInSelectedFood(cibo.id)">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="/public/assets/img/{{cibo.nome}}.png" class="img-fluid" style="width: 50px">
          </div>
          <div class="col-8">
            <b>{{cibo.descrizione}}</b>
          </div>
          <div class="col-1">
            <mat-icon class="thumb-up-icon">thumb_up</mat-icon>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

<div *ngIf="!alreadyVoted" class="container fixed-bottom height-50">
  <div class="row justify-content-around ">
    <div class="col-5 margin-bottom-10">
      <button class="float-left width-button" mat-button (click)="cancelPreferences()" mat-raised-button color="primary">
        Annulla
      </button>
    </div>
    <div class="col-5 margin-bottom-10">
      <button class="float-right width-button" mat-button (click)="savePreferences()" mat-raised-button color="primary">
        Salva
      </button>
    </div>
  </div>
</div>