<div class="content">
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">Ciao sono il</h5>
      <h5 class="text-center"><b>Dottor L.T. Diet</b></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="img-fluid rounded-circle" src="../../../public/assets/img/doctor.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="text-center">Nessun utente <b>registrato</b> con questo nome!</h5>
      <h5 class="text-center"><b>Iscriviti</b> per seguire i miei consigli.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 margin-top-10">
      <button type="submit" class="app-long-button-center" mat-raised-button color="primary">
        Iscriviti
      </button>
    </div>
  </div>
</div>