<app-searchbar (searchString)="getSearchString($event)"></app-searchbar>



<div class="container" [style.height.px]="boxHeight" style="overflow-y: scroll;">
    <mat-nav-list #contatti>
      <mat-list-item class="border-bottom-1" *ngFor="let user of userList | filter : searchString">
        <div>
          <mat-icon>person</mat-icon>
        </div> 
        <div class="col-8">
          <a> {{user.nome}}</a>   
        </div>
        <div class="col-3">
          <!--<button mat-icon-button (click)="remove(user.id)">
            <mat-icon>clear</mat-icon>
          </button> -->
        </div>
      </mat-list-item>
    </mat-nav-list>
  </div>