
<!-- Cuntdown Area Start -->
<section class="lottery-area featured-game">
    <div class="daily-lottery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="section-heading">
                        <h5 class="subtitle">
                            Benvenuti alla
                        </h5>
                        <h2 class="title">
                            Lotteria di Natale 2019
                        </h2>
                        <p class="text">
                            In attesa di congedarci per le meritate ferie natalizie, viviamo insieme un momento di spensieratezza con l'estrazione dei numeri vincenti dei biglietti della lotteria di beneficienza
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="draw-time">
                        <h5 class="subtitle">
                                L'estrazione inizierà tra:
                        </h5>
                        <div class="draw-counter">
                                <div><span>{{this.message}}</span></div>
                        </div>
                        <p class="text">
                                Rimanete sintonizzati
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Countdown Area End -->


<!-- Lottery Staticstics Area Start -->
<section class="breadcrumb-area bc-lottery">
    <img class="bc-img" src="/public/assets/img/lottery_new.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="title">
                    i numeri
                </h4>
            </div>
            <!-- <div class="col-lg-6 hidden-md">
                <p class="text">
                    Tutti gli introiti delle vendite dei biglietti della lotteria saranno devoluti in beneficienza a ...
                </p>
            </div> -->
        </div>
    </div>
</section>
<section class="lottery-area">
    <div class="lottery-staticstics">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-staticstics">
                        <div class="left">
                            <div class="icon">
                                <img src="/public/assets/img/st1.png" alt="">
                            </div>
                        </div>
                        <div class="right">
                            <h4 class="title">Totale Ricavi</h4>
                            <div class="count">
                                <span>10000€</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-staticstics">
                        <div class="left">
                            <div class="icon">
                                <img src="/public/assets/img/st2_gift_other.png" alt="">
                            </div>
                        </div>
                        <div class="right">
                            <h4 class="title">Biglietti acquistati</h4>
                            <div class="count">
                                <img src="/public/assets/img/tikit-icon.png" alt="">
                                <span>120</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-staticstics">
                        <div class="left">
                            <div class="icon">
                                <img src="/public/assets/img/st2_gift_other.png" alt="">
                            </div>
                        </div>
                        <div class="right">
                            <h4 class="title">I miei biglietti</h4>
                            <div class="count">
                                <img src="/public/assets/img/tikit-icon.png" alt="">
                                <span>2</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Lottery Staticstics Area Start -->


<section *ngIf="elencoUltimiPremi" class="recent-winners pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <h5 class="subtitle">
                        qui potete trovare
                    </h5>
                    <h2 class="title">
                        gli ultimi 3 premi estratti
                    </h2>
                    <p class="text">
                        complimenti ai fortunati!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div  *ngFor="let premio of elencoUltimiPremi" class="col-lg-4">
                <div class="single-winer">
                    <div class="top-area">
                        <div class="left">
                            <h4 class="position">
                                    #{{premio.posizione}}
                            </h4>
                            <h4 class="name">
                                    {{premio.nomepremio}}
                            </h4>
                            <p class="date">
                                    {{premio.descrizione}}
                            </p>
                        </div>
                        <div class="right">
                            <p class="id">#{{premio.numerovincitore}}</p>
                        </div>
                    </div>
                    <div class="bottom-area">
                        <div class="left">{{premio.nomevincitore}}</div>
                        <div class="right">
                                <img src="{{premio.immaginebase64}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="mybtn2" (click)="scrollToElement(listapremi)">Vedi tutti</a>
            </div>
        </div>
    </div>
</section> 
<!-- Recent Winners Area End -->


<!-- Lista Premi Area Start -->
<section class="activities">
    <img class="shape shape1" src="/public/assets/img/shape1.png" alt="">
    <img class="shape shape2" src="/public/assets/img/shape2.png" alt="">
    <img class="shape shape3" src="/public/assets/img/shape3.png" alt="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">
                    <!-- <h5 class="subtitle">
                        Elenco premi
                    </h5> -->
                    <h2 class="title">
                        Elenco premi
                    </h2>
                    <p class="text">
                        La lista dei premi si aggiornerà automaticamente senza dover ricaricare
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-menu-area">
                    <a [routerLink]="['/catalogo']">
                        <div class="mybtn1">
                            Vai al catalogo dettagliato dei premi
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-all-bets" role="tabpanel" aria-labelledby="pills-all-bets-tab">
                        <div class="responsive-table">
                            <table class="table" #listapremi>
                            <thead>
                                <tr>
                                <th scope="col">POS.</th>
                                <th scope="col">PREMIO</th>
                                <th scope="col">VINCITORE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let premio of elencoPremi">
                                    <td>
                                        #{{premio.posizione}}
                                    </td>
                                    <td>
                                        <img src="{{premio.immaginebase64}}" alt="">
                                        {{premio.nomepremio}}
                                    </td>
                                    <td>
                                    {{premio.numerovincitore}} - {{premio.nomevincitore}}
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- Lista Premi Area End -->