<mat-list>
  <mat-list-item *ngFor="let gruppo of elencoGruppi" [routerLink]="['/app', { outlets: { sub: ['groupdetail', gruppo.id] }}]">
    <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="!gruppo || !gruppo.immagine" src="../../../public/assets/icons/group-icon.png" />
    <img matListAvatar class="img-fluid rounded-circle profile-icon" *ngIf="gruppo.immagine" src={{gruppo.immagine}} />
    <h3 matLine><b>{{gruppo.nome}}</b></h3>
    <p matLine>
      <span> {{gruppo.descrizione}} </span>
    </p>
    <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>