<mat-list>
  <mat-list-item>
    <button class="app-long-button-left" mat-raised-button color="primary">Fuori Orario
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button class="app-long-button-left" mat-raised-button color="primary">Genialloyd
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button class="app-long-button-left" mat-raised-button color="primary">Fantacalcio
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </mat-list-item>
</mat-list>