<div class="container">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-align-center">
        <h5>
          <b>Ciao amici di {{groupDetails.nome}}!</b>
        </h5>
      </div>
      <div class="col-12 text-align-center">
        <img class="img-fluid rounded-circle" src="/public/assets/img/doctor.png" />
      </div>
      <div class="col-12 text-align-center margin-top-10" *ngIf="hasSuggestion">
        <h6>
          Il posto che il <b>Dottor L.T. Diet</b> consiglia oggi al vostro gruppo è:
        </h6>
        <h4><b>"{{firstSuggestion.location_id.nome}}"</b></h4>
      </div>
      <div class="col-12 text-align-center margin-top-20" *ngIf="hasSuggestion">
          <h6>
            In alternativa potreste provare :
          </h6>
          <h5><b>"{{secondSuggestion.location_id.nome}}"</b></h5>
          <h5><b>"{{thirdSuggestion.location_id.nome}}"</b></h5>
        </div>
      <div class="col-12 text-align-center" *ngIf="!hasSuggestion">
          <h6>
            Il <b>Dottor L.T. Diet</b> non ha ancora un consiglio per voi purtroppo
          </h6>
          <h6 class="margin-top-10">Ma <b>niente paura!</b> Appena tutte le persone del vostro gruppo avranno espresso la <b>loro preferenza</b>, il Dottore saprà come <b>consigliarvi!</b></h6>
        </div>
    </div>
  </div>
</div>