<div class="row">
  <div class="content col-12">
    <h4>
      <b>{{groupDetails.nome}}</b>
      <mat-icon class="app-arrow-icon">person_add</mat-icon>
    </h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="content col-12">
    <button [routerLink]="['/app', { outlets: { sub: ['poll'] }}]" class="app-long-button-left" mat-raised-button color="primary">Sondaggio del giorno</button>
  </div>
</div>

<div class="row">
  <div class="content col-12">
    <app-chat [chat]="groupChat"></app-chat>
  </div>
</div>