<div class="content">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">I consigli del</h5>
            <h5 class="text-center">Dottor L.T. Diet</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="col-12 img-fluid rounded-circle" src="/public/assets/img/doctor.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">
                Ho indicato per te alcuni cibi 
                <br>
                consigliati <mat-icon class="thumb-up-icon">thumb_up</mat-icon>
                <br>
                e sconsigliati <mat-icon class="thumb-down-icon">thumb_down</mat-icon>
                <br>
                in base alle tue abitudini alimentari</h5>
        </div>
    </div>
</div>