<div class="container">
  <div class="row">
    <div class="content col-12">
      <h4>Ciao
        <b>{{user.nome}}!</b>
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="content col-12">
      <div>
        <button [routerLink]="['/app', { outlets: { sub: ['preferences'] }}]" class="app-long-button-left"
          mat-raised-button [color]="alreadyVoted ? 'secondary' : 'primary'">
          <mat-icon class="group-icon">fastfood</mat-icon>
          <span *ngIf="alreadyVoted">Visualizza le tue scelte di oggi</span>
          <span *ngIf="!alreadyVoted">Esprimi le tue preferenze!</span>
          <mat-icon class="arrow-icon">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="content col-10">
      <h5 class="groups-title">I tuoi gruppi</h5>
    </div>
    <div class="content col-2">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Aggiungi gruppo">library_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="content col-12">
      <app-listview [elencoGruppi]="user.groups"></app-listview>
    </div>
  </div>
</div>