<div class="container">
  <div class="row">
    <div class="content col-12">
      <h4>Ciao
        <b>{{user.nome}}!</b>
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="content col-12">

      <div class="container height-40">
        <div class="row no-padding height-40 align-items-center" [routerLink]="['/app', { outlets: { sub: ['preferences'] }}]">
          <div class="col-2">
            <img class="img-fluid rounded-circle pref-icon" src="/public/assets/icons/pref.png" />
          </div>
          <div class="col-8">
            <b *ngIf="alreadyVoted" class="text-small">Visualizza le tue scelte</b>
            <b *ngIf="!alreadyVoted" class="text-small">Esprimi le tue preferenze!</b>
          </div>
          <div class="col-2 text-align-right">
            <mat-icon class="arrow-icon align-middle">keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="content col-10">
      <h5 class="groups-title"><b>I tuoi gruppi</b></h5>
    </div>
    <div class="content col-2">
      <button mat-icon-button color="accent" [routerLink]="['/app', { outlets: { sub: ['searchgroup'] }}]">
        <mat-icon aria-label="Aggiungi gruppo">library_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="content col-12">
      <app-listview [elencoGruppi]="user.groups"></app-listview>
    </div>
  </div>
</div>