<div class="row">
    <div class="content col-12">
      <h4>Ciao
        <b>{{user.nome}}!</b>
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="content col-10">
      <h5 class="groups-title">I tuoi gruppi</h5>
    </div>
    <div class="content col-2">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Aggiungi gruppo">library_add</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="content col-12">
      <app-listview [elencoGruppi]="elencoGruppi"></app-listview>
    </div>
  </div>