<!-- Breadcrumb Area Start -->
<section *ngIf="isAdminPage" class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="title">
                    Admin
                </h4>
                <ul class="breadcrumb-list">
                    <li>
                        <a [routerLink]="['/home']">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-chevron-right"></i> </span>
                    </li>
                    <li>
                        <a [routerLink]="['/adminpage']">
                            Admin
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-chevron-right"></i> </span>
                    </li>
                    <li>
                        Risultati Vendite
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Lista Premi Area Start -->

<section *ngIf="!isLogged" class="contact">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <div class="contact-form-wrapper">
                    <div class="contact-box">
                        <h4 class="title">
                            Inserimento risultati vendite
                        </h4>
                        <form (ngSubmit)="salva()">
                            <div class="row">
                                <div class="col-10">
                                    <mat-form-field>
                                        <input matInput placeholder="Totale raccolta" type="number" [(ngModel)]="raccolta.totaleraccolta" name="raccolta.totaleraccolta" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10">
                                    <mat-form-field>
                                        <input matInput placeholder="Totale Biglietti" type="number" [(ngModel)]="raccolta.totalebiglietti" name="raccolta.totalebiglietti" />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div style="display: inline-block;width: 100%;">
                                <div style="float: left;">
                                    <img *ngIf="loading" src="/public/assets/img/loader.gif" style="width: 70px;" />
                                    <span *ngIf="errorMessage != ''">{{ this.errorMessage }}</span>
                                </div>
                                <div style="float: right;padding-top: 3em;">
                                    <button type="submit" class="mybtn1">
                                        Salva
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
