<!-- Breadcrumb Area Start -->
<section *ngIf="isLogged" class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="title">
                    Admin
                </h4>
                <ul class="breadcrumb-list">
                    <li>
                        <a [routerLink]="['/home']">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-chevron-right"></i> </span>
                    </li>
                    <li>
                        <a [routerLink]="['/adminpage']">
                            Admin
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-chevron-right"></i> </span>
                    </li>
                    <li>
                        Risultati Vendite
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- preloader area start -->
<div class="preloader" id="preloader" *ngIf="loading">
    <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
</div>
<!-- preloader area end -->

<!-- Lista Premi Area Start -->
<section *ngIf="isLogged" class="contact">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-12">
                <div class="contact-form-wrapper">
                    <div class="contact-box">
                        <h4 class="title">
                            Inserimento risultati vendite
                        </h4>
                        <form (ngSubmit)="salva()">
                            <div class="row">
                                <div class="col-4" style="color:white">
                                    Totale raccolta
                                </div>
                                <div class="col-8">
                                    <input type="text" class="input-field" placeholder="Totale raccolta" type="number"
                                        [(ngModel)]="raccolta.totaleraccolta" name="raccolta.totaleraccolta" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4" style="color:white">
                                    Totale biglietti
                                </div>
                                <div class="col-8">
                                    <input type="text" class="input-field" placeholder="Totale biglietti" type="number"
                                        [(ngModel)]="raccolta.totalebiglietti" name="raccolta.totalebiglietti" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4" style="color:white">
                                    Totale premi
                                </div>
                                <div class="col-8">
                                    <input type="text" class="input-field" placeholder="Totale premi" type="number"
                                        [(ngModel)]="raccolta.totalepremi" name="raccolta.totalepremi" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 text-center" *ngIf="loadingForm">
                                    <div class="loader loader-1">
                                        <div class="loader-outter"></div>
                                        <div class="loader-inner"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center" *ngIf="!loadingForm">
                                    <button type="submit" class="mybtn1">
                                        Salva
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Confirm Modal Start -->
<div class="modal fade login-modal sign-in" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirm"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div class="header-area">
                    <h4 class="title">Dati aggiornati correttamente</h4>
                </div>
                <div class="form-area text-center">
                    <button class="mybtn2 w-100" data-dismiss="modal" aria-label="ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Confirm Modal End -->