<div class="content">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">I consigli del</h5>
            <h5 class="text-center">Dottor L.T. Diet</h5> 
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img  class="img-fluid rounded-circle" src="/public/assets/img/doctor.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 class="text-center">{{data.tip.text}}</h5>
        </div>
    </div>
</div>