<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Pausappranzo</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/app', { outlets: { sub: [nav.routerLink] } }]" *ngFor="let nav of navMenu" (click)="snav.toggle()">{{nav.descrizione}}</a>
      </mat-nav-list>
      <hr>
      <mat-nav-list>
          <a mat-list-item [routerLink]="['/app', { outlets: { sub: [nav.routerLink] } }]" *ngFor="let nav of navUtilsMenu" (click)="snav.toggle()">{{nav.descrizione}}</a>
          <a mat-list-item [routerLink]="['/logout']" (click)="snav.toggle()">Esci</a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid app-main-content">
          <router-outlet name="sub"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>