<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name" [routerLink]="['/app', { outlets: { sub: ['home'] } }]">Pausappranzo</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="container-fluid">
        <div class="row align-items-center margin-top-10">
          <div class="col-6">
            <img class="img-fluid rounded-circle profile-icon" *ngIf="!userProfile || !userProfile.immagine" src="/public/assets/icons/profile-icon-9.png" />
            <img class="img-fluid rounded-circle profile-icon" *ngIf="userProfile.immagine" src={{userProfile.immagine}} />
          </div>
        </div>
        <div class="row align-items-center margin-top-10">
          <div class="col-12">
            <b>{{userProfile.nome}} {{userProfile.cognome}}</b>
          </div>
        </div>

        <div class="row">
          <div class="col-10">
            <hr>
          </div>
        </div>

        <div class="row">
          <mat-nav-list>
            <mat-list-item *ngFor="let nav of navMenu">
              <mat-icon class="menu-icon">{{nav.icon}}</mat-icon>
              <a [routerLink]="['/app', { outlets: { sub: [nav.routerLink] } }]"  (click)="snav.toggle()">{{nav.descrizione}}</a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div class="row">
          <div class="col-10">
            <hr>
          </div>
        </div>

        <div class="row">
          <mat-nav-list>
            <mat-list-item>
              <mat-icon class="menu-icon">settings</mat-icon>
              <a [routerLink]="['/app', { outlets: { sub: [nav.routerLink] } }]" *ngFor="let nav of navUtilsMenu" (click)="snav.toggle()">{{nav.descrizione}}</a>
            </mat-list-item>
            <mat-list-item>
              <mat-icon class="menu-icon">exit_to_app</mat-icon>
              <a (click)="logout()">Esci</a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-fluid app-main-content">
        <router-outlet name="sub"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>